PowerApps button - 2.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}}},"resources":[{"type":"Microsoft.Logic/workflows","name":"[parameters('logicAppName')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Initializevariable_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false}},"required":["Initializevariable_Value"]}}}},"actions":{"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"filePrefix","type":"String","value":"@{concat('https://winhackstorage.blob.core.windows.net/drillpipes/',triggerBody()['Initializevariable_Value'])}"}]}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Filter_array":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"returnval":"@{length(body('Filter_array'))}"},"schema":{"type":"object","properties":{"returnval":{"title":"returnval","x-ms-dynamically-added":true,"type":"string"}}}}},"HTTP":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"Http","inputs":{"method":"POST","uri":"https://southcentralus.api.cognitive.microsoft.com/customvision/v3.0/Prediction/bd41cac5-79f4-4bdb-b7cc-1b25fb8a519f/detect/iterations/Iteration4/url","headers":{"Prediction-Key":"77df4d76147346feaaca7983413d0c09","Content-Type":"application/json"},"body":"@json(concat('{ \"Url\" : \"', variables('filePrefix'), '\" }'))"}},"Parse_JSON":{"runAfter":{"HTTP":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('HTTP')","schema":{"properties":{"created":{"type":"string"},"id":{"type":"string"},"iteration":{"type":"string"},"predictions":{"items":{"properties":{"boundingBox":{"properties":{"height":{"type":"number"},"left":{"type":"number"},"top":{"type":"number"},"width":{"type":"number"}},"type":"object"},"probability":{"type":"number"},"tagId":{"type":"string"},"tagName":{"type":"string"}},"required":["probability","tagId","tagName","boundingBox"],"type":"object"},"type":"array"},"project":{"type":"string"}},"type":"object"}}},"Filter_array":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Query","inputs":{"from":"@body('Parse_JSON')?['predictions']","where":"@greater(item()?['probability'], 0.6)"}}},"outputs":{},"description":"Create one or more actions to happen when a button or link in PowerApps is selected. To use this flow from a PowerApp, select the control you want to trigger the flow and go to the Action tab in the PowerApps ribbon and select Flows."},"parameters":{},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":366},"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Low"}},"retryPolicy":{"type":"Exponential","interval":"PT7S","count":2,"minimumInterval":"PT5S","maximumInterval":"PT1H"}}}}]}